# Dossiers generati per  Hardhat
artifacts/
cache/

# Node modules
node_modules/

# Dossiers spécifici à Remix
.deps/
.states/

# Fichiers di logs
*.log

# Éventuels fichiers di configurazioni sensible
.env
